/* General Rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --body-color: #E9E9E9;
    --text-color : #57ad68;
    --green-color : rgb(35, 203, 35);
    --white-color : #fff;
    --blue-color : #00f;
    --red-color : #f00;
}
body{
    background: var(--body-color);
    color: #7b6d5e;
    /* min-height: 3000px; */
}
.d-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
bdi{
    text-transform: capitalize;
    color: var(--green-color);
}
i{
    cursor: pointer;
}
i:hover{
    opacity: 0.8;
}

/*start header section */
.header{
    padding: 10px 0 0;
}
.header .mainTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .mainTitle h1{
    font-size: 32px;
    cursor: pointer;
}
.header .mainTitle h1:hover{
    opacity: 0.8;
}
.header .mainTitle p{
    font-size: 14px;
    text-align: center;
}
@media (max-width: 767px)  {
    .header .mainTitle{
        flex-direction: column;
        justify-content: center;
    }
    .header .mainTitle div:nth-child(2)
}
@media (max-width: 576px) {
    .header .mainTitle h1{
        font-size: 26px;
        text-align: center;
    }
    .header .mainTitle bdi{
        display: block;
        margin: 5px 0;
    }
}


/* main-nav */
.main-nav{
    background: var(--text-color);
}
.main-nav .nav-item:first-child .nav-link{
    border-right: 1px solid #fff;

}
.main-nav .nav-link{
    font-size: 24px;
    font-weight: bold;
    margin-left: 7px;
    color: var(--white-color);
    border-left: 1px solid #fff;
}
.main-nav .nav-link:hover{
    opacity: 0.8;
}
@media (max-width: 576px) {
.main-nav .navbar{
    justify-content: flex-start !important;
}

}
.main-nav button{
    display: flex;
    justify-content:;
}
.main-nav .navbar-toggler{
    margin: 0 10px;
    padding: 10px;
}
.main-nav .navbar-toggler:focus {
        box-shadow: none;
        outline: 2px solid var(--white-color);
}

/* main-slider */

.carousel-caption{
    background: #00000050;
    border-radius: 10px;
    padding: 5px;
}
.carousel-caption h2 {
    margin-bottom: 10px;
}
.carousel-caption p {
    font-size: 18px;
}
.carousel-caption a{
    display: block;
    width: max-content;
    margin: 0 auto 10px;
    border-radius: 5px;
    color: var(--white-color);
    padding: 10px;
    background: var(--blue-color);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
}
.carousel-caption a:hover{
    background: var(--text-color);
    color: var(--blue-color);
}

/*end header section */

/* about-us */

.about-us .right-us,.about-us .left-us{
    min-height: 500px;
}
.about-us .right-us .right-us-cont{
    border: 5px solid #fff;
}
.about-us .left-us .content-us p{
    font-weight: bold;
    text-align: justify;
    line-height: 1.8;
}

/* tours */
.tours h2,.infoitaly h2{
    margin: auto;
    width: fit-content;
    padding: 10px 0;
    color: #1a1818;
    border-bottom: 5px solid var(--text-color);
}
@media (max-width: 767px) {
    .tours .card{
        height: max-content !important;
    } 
    .tours .card-body a{
        position: relative !important;
        right: 0px !important;
        bottom: 0px !important;
        margin: 10px 0;
    }
}

/* info-italy */

.infoitaly .content-info{

}
.infoitaly .content-info div{

}
.infoitaly .linksto{

}
.infoitaly .linksto button{
    border: 1px solid #00f;
    color: #00f;
}
.activebtn{
    background-color: #00f;
    color: #fff !important;
}

/* div for backhome button */
.backhome{
    position: fixed;
    bottom: 30px;
    left: 25px;
    width: max-content;
    height: max-content;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color:#00f;
}










/* div for whats */

.infocoll{
    width: fit-content;
    height: max-content;
    position: fixed;
    z-index: 1000;
    bottom: 30px;
    right: 15px;
    flex-direction: column;
    justify-content: space-between;
    background: var(--white-color);
    border-radius: 10px;


}
.infocoll div{
    position: relative;
}
.infocoll div i {
    font-size: 48px;
    margin: 10px auto;
}
.infocoll div span{
    display: inline-block;
    width: max-content;
    padding: 10px;
    background: var(--body-color);
    border-radius: 5px;
    color: #00f;
    visibility: none;
    opacity: 0;
    position: absolute;
    right:50px ;
}
.infocoll div:hover span{
    visibility: visible;
    opacity: 1;
}

.infocoll div:nth-child(3) i ,.infocoll div:nth-child(4) i {
    animation: anim 1s linear  infinite  alternate;
}

@keyframes anim {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
    
}

/* footer */

.footer{
    background-color: var(--body-color);
}
.footer > div{
    display: flex;
    justify-content: space-between;
}

.footer > div > div{
    width: 30%;
    padding: 20px 0;
    text-align: center;
    border-left: 5px solid var(--white-color);
    flex-direction: column;
}
.footer > div > div:last-child{
    border: none;
}

.footer > div div:first-child img{
    width: 100px;
    height: 100px;
}
.footer > div div:first-child h1{
    color: var(--text-color);
    text-transform: capitalize;
}
.footer > div div:nth-child(2){
    text-align: initial;
}
.footer > div div:nth-child(2) h3{
    /* text-align: center; */
    margin-bottom: 20px;
}
.footer > div div:nth-child(2) ol{
    list-style-type: disc;
    list-style-position: inside;
}
.footer > div div:nth-child(2) a{
    display: inline-block;
    width: fit-content;
    padding: 5px;
    height: 40px;
    text-decoration: none;
    color: var(--text-color);
}
.footer > div div:nth-child(2) a:hover{
    border-bottom:5px solid var(--white-color) ;
}
.footer > div div:nth-child(3) div{
    width: 100%;
}
.footer > div div:nth-child(3) div a{
    display:block;
    margin:  0 auto 10px;
    font-size: 16px;
    font-weight: bold;
    width: 200px;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    color: var(--white-color);
    background-color: var(--red-color);
    transition: 0.5s linear;
}
.footer > div div:nth-child(3) div a:first-child{
    width: fit-content;
    background-color: #00f;

}
.footer > div div:nth-child(3) div a:first-child:hover{
    background-color: var(--red-color);
}

.footer > div div:nth-child(3) div a:hover{
    background-color: #00f;
}

@media (max-width: 991px) {
    .footer > div{
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .footer > div > div{
        width: 100%;
        border: none;
    }
    .footer > div div:nth-child(2){
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer > div div:nth-child(2) ol{
        text-align: center !important;
        list-style-type: none;
        padding: 0;
    }
    .footer > div div:nth-child(2)  ol li{
        border-bottom: 5px solid var(--white-color);
    }
    .footer > div div:nth-child(2) a:hover{
        border-bottom:none;
    }
}





